# Ignore artifacts:
# Node modules
/node_modules/

# Build directories
/.next/
/out/
/build/
/dist/

# Testing coverage reports
/coverage/

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
.env.local
.env.*.local

# IDE and editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Next.js specific
next-env.d.ts

# README.md
*/README.md