@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  @apply bg-light text-gray-900 text-sm;
  @apply transition-colors duration-300 ease-in-out;
  @apply font-montserrat font-regular leading-6;
}

/* when working on the components, when you see there is a repeated pattern, please define a class name here */
@layer components {
  .btn-primary {
    @apply flex items-center w-full sm:w-auto text-center justify-center gap-2 rounded-xl px-4 py-2 bg-primaryOrange text-white font-medium hover:bg-darkerOrange hover:shadow-lg transition-colors duration-300 ease-in-out;
  }

  .btn-secondary {
    @apply flex items-center w-full sm:w-auto text-center justify-center gap-2 rounded-xl px-4 py-2 bg-light font-medium border-primaryOrange border-2 hover:shadow-lg transition-colors duration-300 ease-in-out;
  }

  .navbar-text {
    @apply transition hover:text-primaryOrange hover:font-medium;
  }

  .dropdown-menu-item {
    @apply block rounded-lg px-4 py-2 text-sm hover:bg-gray-50 hover:text-gray-900;
  }

  .text-field {
    @apply bg-light border border-gray-500 rounded-lg text-sm p-4 transition-all duration-300 ease-in-out hover:border-primaryOrange hover:shadow-md focus:border-primaryOrange focus:bg-orange-50 focus:shadow-lg focus:outline-none focus:ring-2 focus:ring-primaryOrange/20;
  }

  .input-field {
    @apply flex flex-col gap-2 w-full sm:w-1/2 sm:pr-4 sm:border-r border-gray-300 sm:items-start;
  }

  .auth-input-field {
    @apply border rounded-md border-lightGray py-1 px-2 focus:border-primaryOrange focus:outline-none focus:ring-0 focus:ring-primaryOrange;
  }

  .form-brand-logo {
    @apply w-[120px] mb-4;
  }

  .form-border {
    @apply max-w-6xl mx-auto bg-white rounded-3xl border-2 border-primaryOrange p-9 mt-10 shadow-lg;
  }

  .form-heading-number-orange {
    @apply items-center justify-center border-primaryOrange text-2xl font-bold text-primaryOrange;
  }

  .form-h1 {
    @apply text-2xl font-medium;
  }

  .form-h2 {
    @apply font-medium text-lg mb-2;
  }

  .form-des-inc-button {
    @apply flex items-center justify-between py-4 px-10 mb-4 transition-all duration-500 ease-in-out hover:bg-orange-50 active:scale-[0.98] cursor-pointer;
  }

  .form-dropdown-box {
    @apply flex items-center justify-center gap-4 w-16 h-15 border-2 rounded-xl text-lg text-center font-medium border-gray-400 hover:border-primaryOrange hover:shadow-md focus:border-primaryOrange;
  }

  .screen-message {
    @apply flex items-center justify-center h-[500px] text-2xl font-medium;
  }

  .chat-outer-border {
    @apply bg-white rounded-3xl border-2 border-primaryOrange shadow-lg p-4;
  }

  .chat-info-button {
    @apply flex items-center gap-2 p-2 rounded-xl hover:bg-gray-100 font-medium outline-none cursor-pointer;
  }

  @layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='password']::-ms-reveal,
    input[type='password']::-ms-clear {
      display: none;
    }
  }
}
